<!DOCTYPE html>
<html>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <head>
        <title>Payslip</title>
		<script src="lib/jquery/jquery.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="scripts/index.js"></script>
    </head>
    <body ng-app="App">
        <div ng-controller="indexCtrl">
            <a href="view/about.html">About</a>
            <div>
                <h3>Please input persons' infomation</h3>
                <button ng-click="generatePayslip()">Generate payslip</button>
                <button ng-click="addPerson()">Add person</button>
                <!-- input -->
                <table>
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Annual Salary</th>
                            <th>Super Rate(%)</th>
                            <th>Payment Start Date</th>
                        </tr>
                    </thead>
                    <tbody ng-show="persons.length>0">
                        <tr ng-repeat="person in persons">
                            <td>
                                <input type="text" ng-model="person.firstName">
                            </td>
                            <td>
                                <input type="text" ng-model="person.lastName">
                            </td>
                            <td>
                                <input type="number" ng-model="person.annualSalary" min=0>
                            </td>
                            <td>
                                <input type="number" ng-model="person.superRate" max=100 min=0>
                            </td>
                            <td>
                                <select ng-model="person.paymentStartDate">
                                    <option ng-repeat="month in months">{{month.name}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3>Payslip</h3>
                <!-- dispay result -->
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Pay Period</th>
                            <th>Gross Income</th>
                            <th>Income Tax</th>
                            <th>Net Income</th>
                            <th>Super</th>
                        </tr>
                    </thead>
                    <tbody ng-show="payslips.length>0">
                        <tr ng-repeat="payslip in payslips">
                            <td>{{payslip.name}}</td>
                            <td>{{payslip.payPeriod}}</td>
                            <td>{{payslip.grossIncome}}</td>
                            <td>{{payslip.incomeTax}}</td>
                            <td>{{payslip.netIncome}}</td>
                            <td>{{payslip.super}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>