<h4>1.In order to improve performance of server, I implmented the calculation on client side, if it is a confidential algorithm, it should be implemented on server side. </h4>
<h4>2.All the initial data may come from anywhere, such as databases, APIs, files, or manual input.</h4>
<h4>3.Unit tests are based on Karma.</h4>
<h4>4.All algorithms are in the scripts/index.js</h4>